<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.3.0" targetFramework="net451" />
  <package id="Ensure.That" version="5.0.0" targetFramework="net451" />
  <package id="GeoAPI" version="1.7.3" targetFramework="net451" />
  <package id="HVS.Application" version="5.0.20" targetFramework="net451" />
  <package id="HVS.Configuration" version="5.0.17" targetFramework="net451" />
  <package id="HVS.Data" version="5.1.155" targetFramework="net451" />
  <package id="HVS.Data.Entities.Video" version="5.1.35" targetFramework="net451" />
  <package id="HVS.DistribuitedServices.Configuration" version="5.0.6" targetFramework="net451" />
  <package id="HVS.DistribuitedServices.DependencyInjection" version="5.0.12" targetFramework="net451" />
  <package id="HVS.EmailServices" version="5.0.8" targetFramework="net451" />
  <package id="HVS.ExtensionMethods" version="5.0.8" targetFramework="net451" />
  <package id="HVS.Fundamentals" version="5.0.7" targetFramework="net451" />
  <package id="HVS.IoT" version="5.0.11" targetFramework="net451" />
  <package id="HVS.Logging" version="5.0.10" targetFramework="net451" />
  <package id="HVS.MessageBrokers" version="5.0.10" targetFramework="net451" />
  <package id="HVS.MessageBrokers.RabbitMq" version="5.0.7" targetFramework="net451" />
  <package id="HVS.Protocol" version="5.0.6" targetFramework="net451" />
  <package id="HVS.Protocol.Video" version="5.0.19" targetFramework="net451" />
  <package id="HVS.Security" version="5.0.6" targetFramework="net451" />
  <package id="HVS.Storage" version="5.0.6" targetFramework="net451" />
  <package id="HVS.Video.Onvif" version="5.0.11" targetFramework="net451" />
  <package id="HVS.Video.Services.Configuration" version="5.0.15" targetFramework="net451" />
  <package id="HVS.Video.VMS" version="5.0.23" targetFramework="net451" />
  <package id="log4net" version="2.0.7" targetFramework="net451" />
  <package id="M2Mqtt" version="4.2.0.1" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.Options" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.Primitives" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.Web.Services3" version="3.0.0.0" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.4.3" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.4.3" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.4.3" targetFramework="net451" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="ProjNET4GeoAPI" version="1.3.2" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net451" />
  <package id="System.Collections" version="4.3.0" targetFramework="net451" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net451" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net451" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net451" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net451" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net451" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net451" />
  <package id="System.IO" version="4.3.0" targetFramework="net451" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net451" />
  <package id="System.Linq" version="4.3.0" targetFramework="net451" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net451" />
  <package id="System.Management" version="4.0.0" targetFramework="net451" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net451" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net451" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net451" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net451" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net451" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net451" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net451" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net451" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net451" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net451" />
  <package id="System.Threading" version="4.3.0" targetFramework="net451" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net451" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net451" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net451" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net451" />
</packages>